<div id="wrapper" class="fade-in">
    <app-intro></app-intro>
    <app-header></app-header>
    <app-nav></app-nav>
    <div id="main">
      <app-featured-post></app-featured-post>
      <section class="posts">
        <app-article1></app-article1>
        <app-article2></app-article2>
        <app-article3></app-article3>
        <app-article1></app-article1>
        <app-article2></app-article2>
        <app-article3></app-article3>
      </section>
      <app-pagination></app-pagination>
    </div>
    <app-footer></app-footer>
    <app-copyright></app-copyright>
  </div>
